<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UserIdentityScheduledValidator.Properties.Settings.ConnStr"
            connectionString="DATA SOURCE=192.168.10.160:1580/APPS;PASSWORD=HNBACRC;USER ID=HNBA_CRC"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>